<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<property name="LOGSTASH_HOST" value="${logging.logstash.host}" />--> <!--TODO: does'nt work-->
    <!--<property name="LOGSTASH_PORT" value="${logging.logstash.port}" />--> <!--TODO: does'nt work-->
    <property name="LOGSTASH_HOST" value="127.0.0.1" />
    <property name="LOGSTASH_PORT" value="8086" />
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"YourApp", "app_port": "YourPort"}</customFields>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>
</configuration>